.Modal__container {
  margin-top: 70px;
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background: white;
  border: 1px solid lightgray;
  padding: 20px;
}

.Modal__container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
}

.Modal__container > form > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}
.Modal__container > form > h5 {
  margin-bottom: 5px;
}

.Modal__container > p {
  margin-top: 15px;
  font-size: 12px;
}

.Modal__submit {
  background: #c5f542;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #ccffa3;
}

.Modal__close {
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: darkgray;
}
